[submodule "L03/1XC3_L03"]
	path = L03/1XC3_L03
	url = https://github.com/Shuyu114514/1XC3_L03
[submodule "A1/1XC3_A1"]
	path = A1/1XC3_A1
	url = https://github.com/Shuyu114514/1XC3_A1
[submodule "L08/hello-github-actions"]
	path = L08/hello-github-actions
	url = https://github.com/Shuyu114514/hello-github-actions
[submodule "L08/CS1XC3_L08_P3"]
	path = L08/CS1XC3_L08_P3
	url = https://github.com/Shuyu114514/CS1XC3_L08_P3
[submodule "L08/github-actions-for-ci"]
	path = L08/github-actions-for-ci
	url = https://github.com/Shuyu114514/github-actions-for-ci
[submodule "L09/CS1XC3_L09"]
	path = L09/CS1XC3_L09
	url = https://github.com/Shuyu114514/CS1XC3_L09
